.body__dark {
  background: #394539;

  #page-container {
    aside {
      #narrow-sidebar {
        background: #343;
        color: #ddd;
      }
      #wide-sidebar {
        background: #464;
        color: #ccc;
      }
    }

    main {
      #project-page {
        .task-list {
          .task {
            background: transparent;
            color: #eee;
          }
        }
      }
      #profile-page {
        color: #eee;
      }
    }
  }
}
