.body__light {
  background: #eee;

  #page-container {
    aside {
      #narrow-sidebar {
        background: #e6e6e6;
      }
      #wide-sidebar {
        background: #f9f9f9;
      }
    }
  }
}
