// app global css in SCSS form
html,
body,
#q-app {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

// div.absolute-full > div.scroll {
//   height: 100%;
// }
