// app global css in SCSS form
.flexColumnContainer {
  display: flex;
  flex-direction: column;
}

.flexRowContainer {
  display: flex;
  flex-direction: row;
}

a {
  color: inherit;
  text-decoration: none;
}
