#layout-container {
  position: relative;
  overflow-x: hidden;
  height: 100%;

  header {
    position: sticky !important;
    top: 0px;
    left: 0px;
    z-index: 999;
    align-items: center;
    background: $green-5;

    .app-info {
      font-size: 0.9rem;
      align-items: center;
      // justify-content: space-between;
      width: calc(min-content + 55px);

      .q-icon {
        font-size: 1.1rem;
        margin-right: 5px;
      }
    }
  }

  #page-container {
    position: relative;
    overflow: hidden;
    height: 100% !important;

    aside {
      position: sticky !important;
      left: 0;
      top: 0;
      z-index: 998;
      height: 100% !important;
      flex-shrink: 0;

      #narrow-sidebar {
        min-width: min-content;
        padding-top: 5px;
      }
      #wide-sidebar {
        min-width: 150px;
        padding-top: 5px;

        .project-list {
          .project-link {
            align-items: center;
            font-size: 1rem;
            padding-left: 5px;
          }
        }
      }
    }

    main {
      width: 100%;
      overflow: auto;
    }
  }
}

// main {
//   width: 100%;
// }
