#layout-container {
  position: relative;
  overflow-x: hidden;

  header {
    position: sticky !important;
    top: 0px;
    left: 0px;
    align-items: center;
    background: $green-5;

    .app-info {
      font-size: 0.9rem;
      align-items: center;
      // justify-content: space-between;
      width: calc(min-content + 55px);

      .q-icon {
        font-size: 1.1rem;
        margin-right: 5px;
      }
    }
  }
}

// header {
//   position: fixed;
//   top: 0;
//   left: 0;

//   width: 100vw;
//   height: 35px;

//   align-items: center;
//   padding: 0 5px 0 30px;
//   background: #56b67a;

// }

// aside {
//   // position: sticky;
//   // top: 40px;
//   // left: 0;
//   width: min-content;
//   height: calc(100vh - 35px);
//   // z-index: 9;
//   display: flex;
//   flex-direction: row;

//   border-right: 2px solid #9999;

//   #narrowSidebar {
//     width: min-content;
//     padding: 6px 3px 6px 3px;
//     background: #e6e6e6;

//     .router-link-exact-active,
//     .rt-link-active {
//       border-radius: 50%;
//       background: #5856;
//     }
//   }
//   #wideSidebar {
//     position: relative;
//     background: #f9f9f9;
//     width: 250px;
//     padding: 10px;

//     .sidebar-linkToProject {
//       display: flex;
//       align-items: center;
//       font-size: 1.05rem;
//       border-bottom: 1px solid #99999999;
//       padding-left: 10px;

//       a:hover:not(.router-link-active) {
//         color: #76d69a;
//         text-decoration: underline;
//       }

//       .router-link-active {
//         color: #56b67a;
//       }

//       & + .sidebar-linkToProject {
//         margin-top: 5px;
//       }
//       .projectIcon {
//         margin-right: 5px;
//       }
//       button {
//         opacity: 0.5;
//         transform: scale(0.8);
//       }
//     }

//     #projectSidebarTools {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       width: 100%;
//       height: 35px;
//       display: flex;
//       align-items: center;
//       background: $grey-3;
//     }
//   }
// }

// main {
//   width: 100%;
// }
