#layout-container {
  position: relative;
  overflow-x: hidden;
  height: 100%;

  header {
    position: sticky !important;
    top: 0px;
    left: 0px;
    z-index: 999;
    align-items: center;
    background: $green-5;

    .app-info {
      font-size: 0.9rem;
      align-items: center;
      // justify-content: space-between;
      width: calc(min-content + 55px);

      .q-icon {
        font-size: 1.1rem;
        margin-right: 5px;
      }
    }
  }

  #page-container {
    position: relative;
    overflow: hidden;
    height: 100% !important;

    aside {
      position: sticky !important;
      left: 0;
      top: 0;
      z-index: 998;
      height: 100% !important;
      flex-shrink: 0;

      #narrow-sidebar {
        min-width: min-content;
        padding-top: 5px;
        z-index: 998;
      }
      #wide-sidebar {
        overflow-x: hidden;
        transition: 0.5s;

        .project-list {
          margin: 5px;

          .inbox {
            align-items: center;
            gap: 5px;
            font-size: 1rem;
            margin: 5px 5px 10px 5px;
            margin-top: 5px;
            margin-bottom: 10px;

            .q-icon {
              font-size: 1.2rem;
            }
          }

          .project-list-header {
            align-items: center;
            font-size: 1.1rem;
            font-weight: bold;
            padding-bottom: 3px;
            border-bottom: 1px solid #9b99;

            .q-btn {
              font-size: 0.7rem;
            }
          }

          .project-link {
            align-items: center;
            font-size: 1rem;
            padding-left: 5px;
          }
        }
      }
    }

    main {
      width: 100%;
      overflow: auto;
    }
  }
}
