// PROJECT PAGE
#project-page {
  section.project-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6a6;
    color: #e6e6e6;

    h2.project-title {
      margin: 0 0 15px 0;
      border-bottom: 2px solid #8c8;
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
    }
    p.project-desc {
      font-size: 1rem;
      text-align: center;
    }
  }

  section.task-list {
    padding: 15px;

    .task {
      font-family: Ubuntu;
      font-family: 1rem;

      .task-checkbox-title {
        margin-bottom: 0;
      }
      .task-description {
        font-size: 0.8rem;
        color: #222e;
        margin-top: -7px;
        margin-left: 40px;
      }
    }
  }
  section.if-no-tasks {
    height: 70vh;
    width: 100%;
    padding: 15px;
    align-items: center;

    img {
      max-height: 85%;
      max-width: 100%;
      margin-bottom: 15px;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .bottom-right {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
}
