@import '../variables.scss';

.dark {
  aside {
    background-color: $dark-sidebar;
    color: #eee;

    border-right: 2px solid #666;
    a { color: pink; }
  }
  main {
    background-color: #222;
  }
  #mainContainer {
    background-color: #333 !important;
    color: #eee;
  }
}