$header-height: 45px;

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header {
  width: 100vw;
  // height: $header-height;
  // flex: 0;
  flex-basis: $header-height;
}
aside, #mainContainer {
  height: calc(100%);
}
#mainContainer {
  flex-basis: 80%;
}