#projectContainer {
  padding: 15px;

  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .taskContainer {
    margin-left: 25px;

    .el-checkbox {
      transform: scale(1.2);
    }

    .is-checked {
      text-decoration: line-through;
    }

    .subtasksContainer {
      padding-left: 25px;
      border-left: 1px solid #e6e6e6;
    }
  }
}

.addTaskThing {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 15px;
  margin-top: 15px;

  .el-input {
    flex-basis: 50%;
  }
}