aside {
  display: flex;
  user-select: none;
}

#thin-aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50px;

  a {
    margin-top: 15px;
    width: min-content !important;

    .el-avatar {
      width: 30px;
      height: 30px;
      transition: width 0.5s, height 0.5s, opacity 0.5s;
      &:hover {
        width: 33px;
        height: 33px;
        opacity: 0.9;
      }
    }
  }
}

#wide-aside {
  width: 225px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  padding-top: 15px;


  .el-tree {
    width: 100%;
    background-color: transparent;

    * {
      font-size: 1rem;
    }
    .el-tree-node__content:hover {
      background-color: transparent;
    }
  }

}
