aside {
  position: relative;
  padding: 20px;
  font-size: 1rem;
  overflow-x: hidden !important;

  display: flex;
  flex-direction: column;

  a {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  .project-tree {
    background-color: transparent;

    * {
      font-size: 1rem;
    }

    .el-tree-node__children {
      margin-left: -10px;
    }
  }
}

el-tree, tree {
  background-color: red;
}