// Accent
$de-york-50: #f0f9f0;
$de-york-100: #dcf0db;
$de-york-200: #b9e1ba;
$de-york-300: #7dc383;
$de-york-400: #5bac65;
$de-york-500: #399046;
$de-york-600: #287335;
$de-york-700: #205c2c;
$de-york-800: #1c4926;
$de-york-900: #173d1f;
// Light Theme
$light-main: #f0f3f0;
$light-sidebar: #f0f9f0;
$light-sidebar-border: #e3e3e3;
// Dark Theme
$dark-main: #444f49;
$dark-sidebar: #333f39; //or #212121 or #222
$dark-sidebar-border: 2px solid #666;